textarea {
	height:100px;
}

.tag_list {
	padding:10px 10px 0;
	border:1px soild #ccd;
	background:#DDD;
	border-radius:5px;
	box-shadow:0 0 20px RGBA(0,0,0,0.1) inset;
	margin-bottom:10px;
}
.tag_list .tag {
	float:left;
	padding:2px 5px;
	background:#9D9;
	border-radius:5px;
	font-size:10px;
	margin:0 10px 10px 0;
	cursor:pointer;
}
.tag_list .tag:hover{
	background:#BFB;
}