body {
	padding-top:60px;
}

#home {
	padding-left:220px;
	background-image:url(/media/img/logo.png);
	background-repeat:no-repeat;
	background-position:15px 30px;
}

#timeline {
}

.timeline {
	position:fixed;
	left:0;
	top:0px;
	width:100%;
	height:180px;
	background:#FFF;
	box-shadow:0 5px 10px RGBA(0,0,0,0.3);
	z-index:10;
}

.timeline .header {
	position:absolute;
	background:#EEF;
	top:0;
	width:100%;
	height:40px;
	cursor:pointer;
	
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.timeline .header h2{
	margin:0 auto;
	width:940px;
	height:40px;
	color:#AAA;
	line-height:40px;	
	font-size:20px;
}

.timeline .controls {
	position:absolute;
	background:#EEF;
	bottom:0;
	width:100%;
	height:30px;
	padding:5px 0;
}
.timeline .controls .slider{
	float:left;
	width:125px;
}
.timeline .controls .zoom{
	float:right;
	width:100px;
}


.timeline .pane {
	position:relative;
}
.timeline .headers { position:relative; }
.timeline .headers  .year{ 
	position:absolute; 
	top:40px;
	height:50px;
	border:1px solid #CCD;
	overflow:hidden;
	cursor:pointer;
}
.timeline .headers  .year:hover{ 
	background:#334;
	color:#FFF;
	font-weight:bold;
}
.timeline .headers  .year .title{ 
	height:25px;
	line-height:25px;
	text-align:center;
	width:100%;
}
.timeline .headers  .year .month{ 
	float:left;
	width:8.3%;
	overflow:hidden;
	text-align:center;
	border-right:1px solid #CCD;
	margin-right:-1px;
}
.timeline .headers  .year .december{ border:none; margin:0; }
.timeline .headers.small  .year .month{ display:none; }


.timeline .markers { position:relative; }
.timeline .markers .video{
	position:absolute;
	top:102px;
	width:15px;
	height:30px;
	background:url(/media/img/marker.png) left top;
	cursor:pointer;
}
.timeline .markers .video:hover{ background-position:left bottom; z-index:10; }


#player {
	position:fixed;
	top:0;
	left:0;
	background:RGBA(0,0,0,0.8);
	width:100%;
	height:100%;
	z-index:9999;
}
#player iframe {
	display:block;
	margin:100px auto 0;
}
#player .buttons {
	width:200px;
	margin:10px auto;
}
#player .close {
	float:left
	margin: 10px auto 0;
	float: none;
	opacity: 100;
	margin:0 5px;
}

.articles article{
	float:left;
	width:290px;
	margin-right:15px;
	min-height:150px;
	position:relative;
	padding-bottom:20px;
}
.articles article:nth-child(3n){ margin-right:0; }
.articles article .thumb{
	width:290px;
	height:180px;
	margin-right:20px;
	background:#FFF;
	overflow:hidden;
	cursor:pointer;
	position:relative;
}
.articles article .thumb .hover { 
	position:absolute;
	width:290px;
	height:180px;
	display:none; 
	background:url(../img/play.png) no-repeat center center RGBA(0,0,0,0.4);
	z-index:1;
}
.articles article .thumb:hover .hover { display:block; }
.articles article .thumb img{
	position:relative;
	width:290px;
	top:-20px;
	max-width:none;
	border:none;
	margin:0 auto;
}
.articles article .copy p {
	height:80px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.articles article .play{
	position:absolute;
	width:264px;
	left:0px;
	bottom:-5px;
}

.video_thumb {
	float:left;
	width:100px;
	height:74px;
	padding:9px;
	border:1px solid #CCD;
	border-radius:5px;
	margin:0 10px 10px 0;
	position:relative;
	cursor:pointer;
	background:#FFF;
}
.video_thumb:nth-child(7n) {
	margin-right:0;
}

.video_thumb h3 {
	position:absolute;
	padding:5px;
	bottom:0px;
	color:#FFF;
	font-size:12px;
	line-height:12px;
}

.video_thumb .img_container {
	overflow:hidden;
}
.video_thumb .img_container img {
	width:100px;
}

footer {
	height:180px;
	padding:20px;
	background:#222;
	color:#FFF;
}

footer .search { height:30px;}
footer #tag_search {
	float:left;
	width:100%;
}
footer .tag_list { 
	background:#DDD;
	padding:5px;
	margin:8px 0 0;
	height:140px;
	width:221px;
	overflow:auto;
	border:1px solid #444;
	border-radius:5px;
	display:none;
}
footer .tag_list li{ 
	height:20px;
	float:none;
	padding:0 5px;
	margin:0 5px 5px 0;
	background:#6A6;
	border-radius:5px;
	cursor:pointer;
	list-style:none;
	font-size:12px
}
footer .tag_selected {
	border-radius:5px;
	border:1px solid #AAA;
	padding:4px;
	background:#CCC;
	height:20px;
}
footer .tag_selected li{
	height:20px;
	float:left;
	padding:0 5px;
	margin:0 5px 5px 0;
	background:#6A6;
	border-radius:5px;
	cursor:pointer;
	list-style:none;
	font-size:12px
}
footer .tag_list li:hover{ background:#8C8; 