{% extends "templates/admin/base.html" %}

{% block content %}
<section class="form">

<div class="error flash">
	{{ error_flash }}
</div>

<p>
	<h2>{{page}} Media Item</h2>
<p>

<form class="well" action="/admin/media/{{page}}/{{id}}" method="post">
	<div class="field">
		<label>Date</label>
		<input class="input-block-level" type="text" name="date" value='{{media.get_date("%Y-%m-%d")}}' />
	</div>
	
	<div class="field">
		<label>Type</label>
		<select class="input-block-level" id="media_type_selector" name="type">
			<option value="1">Youtube Video</option>
			<option value="2">Photo</option>		
		</select>
	</div>
	
	<div id="video_select" class="field youtube_id">
		<label>Youtube Video ID</label>
		<input class="input-block-level" type="text" name="youtube_id" value="{{media.youtube_id}}" />
	</div>
	
	<div id="image_select" class="field image_url">
		<label>Image URL</label>
		<input class="input-block-level" type="text" name="image_url" value="{{media.image_url}}" />
	</div>
	
	<div class="field">
		<label>Tags</label>
		<textarea name="tags" class="input-block-level tags">{% for tag in taglist %}{{tag.name}}, {% endfor %}</textarea>
		<div class="tag_list">
			{% for tag in tags %}
			<div class="tag">{{tag.name}}</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
	</div>
		
	<div class="field">
		<input type="submit" class="btn btn-primary" value="Save" />
		<a href="/admin/media" class="btn btn-primary">Cancel</a>
	</div>
</form>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready( function() {
		$('.image_url').hide();
		$('#media_type_selector').change(function(e, f){
			if ( this.value == 1 ) {
				$('#video_select').show();
				$('#image_select').hide();
			} else {
				$('#video_select').hide();
				$('#image_select').show();
			}
		});
		$('.tag_list .tag').click(function(){
			var tag = this.innerHTML;
			var tag_data = $('[name=tags]').val();
			var tag_list = tag_data.split(',');
			var val = "";
			
			//New list
			new_list = {};
			for( var i=0; i<tag_list.length;i++){
				new_list[ tag_list[i].trim().toLowerCase() ] = true;
			}
			new_list[tag] = true;
			for( var i in new_list){
				if ( i != "" ) {
					val += ( val != "" ? ", "+i : i );
				}
			}
			$('[name=tags]').val( val );
			return false;
		});
	} );
</script>
{% endblock %}