{% extends "templates/admin/base.html" %} 

{% block content %}
<section class="well">
	<p>
		<a href="/admin/media/add" class="btn btn-primary">Add Media</a>
	</p>
	<table class="table table-striped table-bordered">
		<tbody>
			{% for media in media_list %}
			<tr>
				<td><a href="/admin/media/edit/{{media.key.id()}}">{{media.get_date("%Y-%m-%d")}}</a></td>
				<td><a href="http://www.youtube.com/watch?v={{media.youtube_id}}">
					<img src="http://i2.ytimg.com/vi/{{ media.youtube_id }}/1.jpg" style="height:30px;" />
				</a></td>
				<td>{{ media.type }}</td>
				<td>{{media.get_created("%d %B %Y")}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
</section>
{% endblock %}