{% extends "../base.html" %}

{% block content %}
<section class="form">

<div class="error flash">
	{{ error_flash }}
</div>

<p>
	<h2>Add Media Item</h2>
<p>

<form class="well" action="/admin/media/{{page}}/{{id}}" method="post">
	<div class="field">
		<label>Date</label>
		<input class="input-block-level" type="text" name="date" value='{{media.date|date:"Y-m-d"}}' />
	</div>
	
	<div class="field">
		<label>Type</label>
		<select class="input-block-level" id="media_type_selector" name="type">
			<option value="1">Youtube Video</option>
			<option value="2">Photo</option>		
		</select>
	</div>
	
	<div id="video_select" class="field youtube_id">
		<label>Youtube Video ID</label>
		<input class="input-block-level" type="text" name="youtube_id" value="{{media.youtube_id}}" />
	</div>
	
	<div id="image_select" class="field image_url">
		<label>Image URL</label>
		<input class="input-block-level" type="text" name="image_url" value="{{media.image_url}}" />
	</div>
	
	<div class="field">
		<label>Tags</label>
		<textarea name="tags" class="input-block-level tags">{{media.tags}}</textarea>
	</div>
		
	<div class="field">
		<input type="submit" class="btn btn-primary" value="Save" />
		<a href="/admin/media" class="btn btn-primary">Cancel</a>
	</div>
</form>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready( function() {
		$('.image_url').hide();
		$('#media_type_selector').change(function(e, f){
			if ( this.value == 1 ) {
				$('#video_select').show();
				$('#image_select').hide();
			} else {
				$('#video_select').hide();
				$('#image_select').show();
			}
		});
	} );
</script>
{% endblock %}