{% extends "../base.html" %} 

{% block content %}
<section class="well">
	<p>
		<a href="/admin/users/add" class="btn btn-primary">Add User</a>
	</p>
	<table class="table table-striped table-bordered">
		<tbody>
			{% for user in users %}
			<tr>
				<td><a href="/admin/users/edit/{{media.key}}">{{ user.username }}</a></td>
				<td>{{ user.firstname }}</td>
				<td>{{ user.created|date:"d M Y" }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
</section>
{% endblock %}