{% extends "templates/admin/base.html" %} 

{% block content %}
<div class="hero-unit">
	<h1>Welcome!</h1>
    <p>This is the CMS for Family Archive.</p>
	<p>
		From here you can edit, add or delete links to videos. You can also create playlists. 
	</p>
</div>

{% endblock %}