{% extends "templates/base.html" %} 

{% block header %}
{% endblock %}

{% block content %}

{% if error_invalid_password %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Invalid password or username
</div>
{% endif %}

{% if thankyou_login %}
	<script>
		window.addEventListener("load", function(){ 
			window.location = "/";
		});
	</script>
{% else %}
<div class="well">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#" id="guest_sign_tab">Guest</a></li>
		<li role="presentation"><a href="#" id="admin_sign_tab">Admin</a></li>
	</ul>
	
	<div id="guest_sign">
		<form class="form-signin" action="" method="post">
			<fieldset>
				<h2 class="form-signin-heading">Sign in as guest</h2>
				<input class="input-block-level" type="hidden" name="name" value="guest" />
				<div class="field">
					<label>Password</label>
					<input class="input-block-level" type="password" name="password" />
				</div>
				<div class="field">
					<input class="btn btn-primary" type="submit" name="submit" />
				</div>
			</fieldset>
		</form>

	</div>

	<div id="admin_sign" style="display:none">
		<form class="form-signin" action="" method="post">
			<fieldset>
				<h2 class="form-signin-heading">Login</h2>
				<div class="field">
					<label>Name</label>
					<input class="input-block-level" type="text" name="name" />
				</div>
				<div class="field">
					<label>Password</label>
					<input class="input-block-level" type="password" name="password" />
				</div>
				<div class="field">
					<input class="btn btn-primary" type="submit" name="submit" />
				</div>
			</fieldset>
		</form>
	</div>
</div>

<script>
	window.addEventListener("load", function(){ 
		document.querySelector("#guest_sign").style.display = "block";
		document.querySelector("#admin_sign").style.display = "none";
		
		document.querySelector("#guest_sign_tab").onclick = function(e){
			e.preventDefault();
			document.querySelector("#guest_sign").style.display = "block";
			document.querySelector("#admin_sign").style.display = "none";
			document.querySelector("#guest_sign_tab").parentNode.className = "active";
			document.querySelector("#admin_sign_tab").parentNode.className = "";
		}
		
		document.querySelector("#admin_sign_tab").onclick = function(e){
			e.preventDefault();
			document.querySelector("#guest_sign").style.display = "none";
			document.querySelector("#admin_sign").style.display = "block";
			document.querySelector("#guest_sign_tab").parentNode.className = "";
			document.querySelector("#admin_sign_tab").parentNode.className = "active";
		}
	})
</script>
{% endif %}
{% endblock %}