{% extends "templates/admin/base.html" %} 

{% block content %}
<section class="form">

<div class="error flash">
	{{ error_flash }}
</div>

<p>
	<h2>{{page}} Article</h2>
<p>

<form class="well" action="/admin/articles/{{page}}/{{id}}" method="post">
	<div class="field">
		<label>Title</label>
		<input class="input-block-level" type="text" name="title" value='{{article.title}}' />
	</div>
	
	<div class="field">
		<label>Image</label>
		<input class="input-block-level" type="text" name="image" value='{{article.image}}' />
		<a class="btn btn-primary" id="autoimage">Auto</a>
	</div>
	
	<div class="field">
		<label>Type</label>
		<select class="input-block-level" id="article_type_selector" name="type">
			<option value="1">News</option>
			<option value="2">Playlist</option>		
		</select>
	</div>
	
	<div class="field image_url">
		<label>Text</label>
		<textarea name="text" class="input-block-level tags">{{article.text}}</textarea>
	</div>
	
	<div id="playlist " class="field">
		<label>Playlist Query</label>
		<textarea name="playlist" class="input-block-level tags">{{article.playlist}}</textarea>
	</div>
		
	<div class="field">
		<input type="submit" class="btn btn-primary" value="Save" />
		<a href="/admin/media" class="btn btn-primary">Cancel</a>
	</div>
</form>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready( function() {
		$('#playlist').hide();
		$('#article_type_selector').change(function(e, f){
			if ( this.value == 1 ) {
				$('#playlist').hide();
			} else {
				$('#playlist').show();
			}
		});
		
		$('#autoimage').click(function(e){
			DataManager.query({
				data : $('[name=playlist]').val(),
				success:function(res){
					var youtube_id = false;
					for ( var i in res.media ) {
						youtube_id = res.media[i].youtube_id;
					}
					if ( youtube_id ){
						$('[name=image]').val( 'http://img.youtube.com/vi/'+youtube_id+'/0.jpg' );
					}
				}
			});
		});
	} );
	
</script>
{% endblock %}