{% extends "templates/admin/base.html" %} 

{% block content %}
<section class="well">
	<p>
		<a href="/admin/articles/add" class="btn btn-primary">Add Article</a>
	</p>
	<table class="table table-striped table-bordered">
		<tbody>
			{% for article in articles %}
			<tr>
				<td><a href="/admin/articles/edit/{{article.key.id()}}">{{ article.title }}</a></td>
				<td>{{ article.type }}</td>
				<td>{{ article.get_created("%d %B %Y") }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
</section>
{% endblock %}