<!<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Family Archive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <link href="/media/css/style.css" rel="stylesheet">
    <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  <style type="text/css"></style></head>

  <body>
	{% block header %}
	{% endblock %}

    <div class="container">
		{% block content %}
		{% endblock %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>	
	<script type="text/javascript" src="http://www.youtube.com/iframe_api"></script>
   	<script type="text/javascript" src="/media/js/bootstrap.js"></script>	
   	<script type="text/javascript" src="/media/js/main.js"></script>	
   	<script type="text/javascript" src="/media/js/search.js"></script>	
   	<script type="text/javascript" src="/media/js/datamanager.js"></script>	
	{% block js %}{% endblock %}
</body></html>