{% extends "templates/base.html" %} 

{% block content %}
<div id="timeline">
	<div class="timeline">
		<div class="header">
			<h2>Timeline</h2>
		</div>
		<div class="controls">
			<div class="slider">
				<a class="prev btn">Prev</a>
				<a class="next btn">Next</a>
			</div>
			<div class="zoom">
				<a class="in btn">In</a>
				<a class="out btn">Out</a>
			</div>
		</div>
	</div>
</div>

<div class="well" id="home">
	<h1>Welcome!</h1>
    <p>This is the Byrne family video archive.</p>
	<p>
		This is an archive of video clips accessible to members of the Byrne 
		family. This private archive is dedicated to the memory of the late Annie Byrne.
		This website is always expanding, so if you have any
		content you wish to share with this archive get in contact with 
		<a href="mailto:deviljam@gmail.com">James Byrne</a>.
	</p>
	<p>
		Use the time line below to view an individual video for a given date, or
		try one of the pre-made play lists provided below.
	</p>
	<p>
		If you need to log out, click below.
	</p>
	<p>
		<a class="btn btn-primary large" href="/logout">Log out</a>
	</p>
</div>

<section class="well articles">
	{% for article in articles %}
	<article>
		<div class="thumb" data-query="{{article.playlist}}">
			<div class="hover"></div>
			<img alt="{{article.title}}" src="{{article.image}}" />
		</div>
		<div class="copy">
			<h2>{{ article.title }}</h2>
			<p>{{ article.text }}</p>
			<a class="btn-primary btn play" data-query="{{article.playlist}}">Play all</a>
		</div>
	</article>
	{% endfor %}
	<div class="clearfix"></div>
</section>

<section class="well videos">
	{% for video in videos  %}
	<div data-video="{{video.youtube_id}}" class="video_thumb">
		<h3>DATE HERE</h3>
		<div class="img_container">
			<img src="http://i1.ytimg.com/vi/{{video.youtube_id}}/0.jpg" alt="{{video.youtube_id}}" />
		</div>
	</div>
	{% endfor %}
	<div class="clearfix"></div>	
</section>

<footer>
	<section id="tag_search">
		<div class="input-prepend span3">
			<span class="add-on"><i class="icon-envelope"></i></span>
			<input class="search" type="text" placeholder="Search tags" />
			
			<ul class="tag_list">
				{% for tag in tags %}<li data-tag="{{tag.name}}">{{tag.name}}</li>{% endfor %}
			</ul>		
		</div>
		
		<div class="span8">
			<ul class="tag_selected"></ul>
			<a class="btn btn-primary pull-right" id="js_search_tags" >Search</a>
		<div>
		
	</section>
</footer>

{% endblock %}

{% block js%}
<script type="text/javascript">
	var init_data = {
		'videos' : [ {% for v in videos %}{ id:"{{v.key}}", youtube_id:"{{v.youtube_id}}", date:"{{v.get_date("%Y-%m-%d")}}" },{% endfor %} ]
	
	}
</script>
{% endblock %}